<!doctype html>
<html>
	<head>
		<style>
			.button{
				background-color: #066D87; /* Green */
				border: none;
				color: #f2f2f2;
				font-weight: 700;
				padding: 10px 15px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 14px;
				font-family: sans-serif;
				margin-left: 50px;
				text-decoration: none;
			}
			p {
				font-size: 14px;
				font-family: sans-serif;
				color: #333333;
			}
	
		</style>
	</head>
	<body>
		<p>Olá</P>
		<p>Clique no botão abaixo para validar seu e-mail:</P>
		<a href="http://localhost:3000/api/email/verifyemail/laksjdlaksjdlaksjdlaksjdlaksjdads654da645d" target="_blank" class="button" style="text-decoration: none; color: #f2f2f2;">VALIDAR</a>
		<br>
		<p>Se preferir clique utilize o link:</p>
		<p>http://localhost:3000/api/email/verifyemail/laksjdlaksjdlaksjdlaksjdlaksjdads654da645d</p>
		<br>
		<p>Você tem até <strong>14/06/2023 17:31</strong> para validar seu endereço de e-mail com esse link. Após esse horário será necessário gerar uma nova validação.</p>
	</body>
</html>